iframe {
	float: center;
  display: block;
margin: 0 auto;
}


.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}


.foot {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: right;
  word-spacing: 0.8em;
}

div.horizontalgap {
  float: center;
  overflow: hidden;
  height: 300px;
  width: 50px;
}
